*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px;
}
.head-1, .head-2{
    font-size: 3em;
}
.head-2{
    color: #FFC12F;
}
ul{
    list-style-type: none;
    
}
li a{
    text-decoration: none;
    color: black;
}
.nav-bar li{
    display: inline;
    text-decoration: none;
    margin: 20px;
    padding: 15px;
}
.nav-bar
{
    background-color: #FFC12F;;
}
.nav-bar img{
    justify-content: center;
    align-items: center;
    background-color: #FFC12F;;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.rain img{
    height: 100vh;
    object-fit: contain;
    
}
.quality,.fast, .delicious{
    display: block;
    width: 30%;
    height: 80vh;
}
.dburger{
    display: block;
    width: 30%;
    height: 80vh;
}
.dburger-img{
    height: 250px;
}
.menu{
    text-align: center;
    align-content: center;
    display: block;
}
hr{
    width: 5%;
    align-content: center;
    margin: 0 auto;
    border: 5px solid #FA952D;
}
.menu-1{
    color: #FFC12F;
}
.cart{
    height: 50px;
}
.decker{
    height: 100vh;
}
.double{
    width: 100%;
}
.decker img{
    height: 300px;
    object-fit: cover;
}