*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px;
}
.head-1, .head-2{
    font-size: 2.5em;
}
.head-2{
    color: #FFC12F;
}
ul{
    list-style-type: none;
    
}
li a{
    text-decoration: none;
    color: black;
}
.nav-bar li{
    display: inline;
    text-decoration: none;
    margin: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
}
.nav-bar
{
    background-color: #FFC12F;
}
.nav-bar img{
    justify-content: center;
    align-items: center;
    background-color: #FFC12F;;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.rain img{
    height: 100vh;
    object-fit: contain;
    
}
.one{
    padding: 20px;
    font-size: 2em;
    align-content: stretch;
    height: 100vh;
}
.one p{
    margin: 15vh auto;
 
}
.one h2{
    margin-top: 15vh;
}
.one p{
    color: gray;
}
.rain img{
    background-color: #FFC12F;;
}
.btn{
    border: 20px solid #FA952D;
    border-radius: 30px;
}
a .btn{
    text-decoration: none;
    background-color: #FA952D;
    color: white;
    font-size: 20px;
}
.quality,.fast, .delicious{
    display: block;
    width: 30%;
    height: 80vh;
}
.dburger{
    display: block;
    width: 350px;
    height: 90vh;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px grey;
    margin: 20px;
    padding: 20px;
    text-align: center;
    align-content: stretch;
}
.dburger-img{
    height: 250px;
}
.dburger img{
    object-fit: contain;
    width: 100%;
}
.menu{
    text-align: center;
    align-content: center;
    display: block;
    font-size: 2.5em;
    padding: 20px;
    margin: 30px;
}
hr{
    width: 8%;
    align-content: center;
    margin: 0 auto;
    border: 5px solid #FA952D;
}
.menu-1{
    color: #FFC12F;
}
.cart{
    height: 50px;
}
.decker{
    height: 100vh;
}
.double{
    width: 100%;
}
.decker img{
    height: 300px;
    object-fit: cover;
}